body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(135deg, #8aec2f, #9fff18);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

h1 {
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
    font-size: 4em;
    margin-bottom: 20px;
    animation: bounce 1s infinite alternate;
}

/* Estilização do formulário */
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

input {
    padding: 10px;
    margin: 5px 0;
    border: 2px solid #fff; /* Borda branca para contraste */
    border-radius: 5px;
    font-size: 1em;
    width: 300px; /* Largura do input */
}

button {
    padding: 10px 20px;
    background-color: #19a447; /* Cor do botão */
    color: #fff; /* Texto branco */
    border: none; /* Remove borda */
    border-radius: 5px; /* Bordas arredondadas */
    cursor: pointer; /* Cursor pointer ao passar o mouse */
    font-size: 1em;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #099c2e; /* Cor ao passar o mouse */
}

/* Lista de treinadores */
ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: #fff;
    border-radius: 8px;
    margin: 10px 0;
    padding: 15px;
    width: 300px;
    text-align: center;
    transition: transform 0.2s ease-in-out, background-color 0.2s ease-in-out;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

li:hover {
    transform: scale(1.05);
    background-color: #19a447;
    color: #fff;
}

a {
    text-decoration: none;
    color: inherit;
    font-weight: bold;
    transition: color 0.2s ease-in-out;
}

a:hover {
    color: #099c2e;
}

@keyframes bounce {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(-10px);
    }
}